/* Page Background */
body{
  background-color:#F7F1DE;
  font-family: Verdana, sans-serif;
}

/* Main Header - Pets with Human Names */
header{
  background-color:#222E50;
}

/* Main Header - Logo */
.logo{
  background-color:#F7F1DE;
  text-align: center;
}

header h1{
  text-align: center;
  background-color:#222E50;
  color:white;
}

/* Page Title - Home/About/etc. */
.page-header header{
  color:#32021F;
  text-align: center;
  background-color: #F7F1DE;
}

.page-header header h2{
  color:#32021F;
  text-shadow: 2px 1px #62043C;
  text-align: center;
}

.page-header h3{
  color:#62043C;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#222E50;
}

li {
  float: left;
}

hr {
  border-top: 3px dotted black;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: 9D96B8;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  
 }

/* Image Sizing */
img {
  max-width: 75%;
  max-height:75%;
}

/* Footer */
footer {
  background-color: #F3EACE;
  text-align: center;
}